<h2>My Current Stack</h1>
<div class="row">
  <div class="col-md-3">
    <h4>Programming Languages <small>(<%= current_user.programming_languages.count %>)</small></h4>
    <ul>
      <% current_user.programming_languages.each do |tool| %>
        <li>
          <%= link_to tool.name, view_language_path(id: tool) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Utilities <small>(<%= current_user.utilities.count %>)</small></h4>
    <ul>
      <% current_user.utilities.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Devops <small>(<%= current_user.devops.count %>)</small></h4>
    <ul>
      <% current_user.devops.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Business Tools <small>(<%= current_user.business_tools.count %>)</small></h4>
    <ul>
      <% current_user.business_tools.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3">
    <%= link_to "Add Language", new_language_path, class: "btn btn-primary btn-xs" %>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
</div>
