<div style="text-align: center;">
  <div class="jumbotron">
    <h2 class="media">
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h2>
    <% if !@user.about.empty? %>
      <hr/>
      <p>
        <%= @user.about  %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Programming Languages <small>(<%= @user.programming_languages.count %>)</small></h4>
    <ul>
      <% @user.programming_languages.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Utilities <small>(<%= @user.utilities.count %>)</small></h4>
    <ul>
      <% @user.utilities.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Devops <small>(<%= @user.devops.count %>)</small></h4>
    <ul>
      <% @user.devops.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Business Tools <small>(<%= @user.business_tools.count %>)</small></h4>
    <ul>
      <% @user.business_tools.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
</div>
