<div style="text-align: center;">
  <div class="well">
    <h2 class="media">
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h2>
    <% if !@user.about.empty? %>
      <hr/>
      <p>
        <%= @user.about  %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Programming Languages <small>(<%= @user.programming_languages.count %>)</small></h4>
    <ul>
      <% @user.programming_languages_users.each do |tool| %>
        <li style="margin-bottom: 20px;">
          <div>
            <%= link_to tool.programming_language.name, tool_path(id: tool.programming_language.id) %>
          </div>
          <em>
            <% if !tool.details.empty? %>
              <%= tool.details %>
            <% else %>
              (No details)
            <% end %>
          </em>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Utilities <small>(<%= @user.utilities.count %>)</small></h4>
    <ul>
      <% @user.utilities.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Devops <small>(<%= @user.devops.count %>)</small></h4>
    <ul>
      <% @user.devops.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Business Tools <small>(<%= @user.business_tools.count %>)</small></h4>
    <ul>
      <% @user.business_tools.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>
</div>
